.app-editor-layout__library {
  display: flex;
  height: 100%;
}

.library-panels {
  position: relative;
  width: 450px;
  height: 100%;
}

.library-panels > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
